:root {
    --primary: #d81e5b;
    --secondary: #8c38ff;
    --dark: #131a26;
    --light: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: rgb(12, 12, 12);

}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.calculator {
    width: 100%;
    max-width: 450px;
    background-color: rgb(12, 12, 12);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 64px 0 rgba(241, 240, 240, 0.934);
    padding: 25px;
    
}

.misc {
    
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    
}
.misc button {
    
    margin: auto;
    height: 90px;
    width: 90px;
    max-width: 100%;
    background-color: rgb(154, 151, 151);
    color: black;
}

.pad {

    display: flex;
    flex-direction: row-reverse;
    
}

.display {
    border: 1px solid rgb(80, 78, 78);
    border-radius: 15px;
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 40px;
    font-weight: 300;
    overflow: hidden;
}

button {
    height: 100px;
    width: 100px;
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 50%;
}

button:hover {
    background-color: rgb(236, 233, 228);
    /* opacity: 0.8; */
}

.operators {
    display: flex;
    flex-direction: column; 
    
}

.operators button {
    
    background-color: rgb(246, 141, 5);
    font-size: 3rem;
    font-weight: 100;
    height: 80px;
    width: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    
    
}

.operators button:hover {
    background-color: rgb(248, 190, 98);

}

.digits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12px;
    
    
}

.bott {
    border-radius: 20%;
    margin: 10px;
    margin-top: 30px;

}

.digits button {
    
    flex: 1 1 33.333%;
    background-color: var(--dark);
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 5px;

}

.digits button:hover {
    background-color: rgb(249, 249, 249);
    color: black;
}